
body {
  background-color: #21295c;
}

.container, .container-fluid {
  background: url('../images/pumpkins.jpg') #0090c1;
  background-size: cover;
  /*background-color: #0090c1;*/
}

h1 {
  color: white;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  font-size: 22px;
  font-weight: normal;
  color: white;
  background-color: rgba(0,0,0,0.4);
}

.panel-heading {
  padding: 0;
  height:200px;
}

.books-heading {
  background: url('../images/books.jpg');
  background-size: cover;
}

.findme-heading {
  background: url('../images/findme.jpg');
  background-size: cover;
}

.ml-heading {
  background: url('../images/board.jpg');
  background-size: cover;
}

dd {
  padding-bottom: 10px;
}

.btn-primary {
  background-color: #009688;
  border-color: 006658;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover {
  background-color: #93387d;
  border-color: #63057d;
}